#side-nav {
  width: 260px; 
  position: relative;
  grid-area: sidenav  ;
  background: var(--white); 
  border-right: 1px solid rgba(28, 28, 28, 0.1); 
  display: block; 
  height: 100%;  
  overflow: hidden; 
  background-color: var(--accent-white);
}
 

 

/* Media query for small screens */
@media screen and (max-width: 768px) {
  
  #side-nav {
    display: none !important;
  }

	}